# virtual environment
venv

# temporal txt file
result.txt

# python cache
__pycache__

# secrets file
projectAN/secrets.json

#todo
todo*.txt

#local variable
local_env.json
loadEnvKey.py

projectAN/**/migrations