[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/projectAN
ExecStart=gunicorn \
        --workers 3 \
        --bind 0.0.0.0:5000 \
        --preload \
        projectANConfig.wsgi.prod:application
    
[Install]
WantedBy=multi-user.target